<div class="container">
	<section id="home">		
		<h1 class="color">{{home}}</h1>
		<p class="lead">Seja muito bem vindos!</p>
		<p>É um prazer tê-lo(a) por aqui.<br>
		Estamos também no facebook no endereço <a href="" class="">facebook.com/ieadpaqueta.</a></p>
		<p><a class="btn btn-info" role="button"><i class="fa fa-facebook" aria-hidden="true"></i></a></p>		
	</section>

	<!-- SECTION EVENTOS -->
	<section id="events" class="home2">
		<h2>Proximos Eventos</h2>
		<p>Veja aqui os proximos eventos, e garanta sua participaçao.</p>	

			<div class="col-md-12">
				<div class="row event-post">
					<div class="event-img col-md-3">
						<p class="data-info">27</p>
						<span class="mes-info">Abril</span>
					</div>					
					<div class="event-info col-md-10">
						<div class="row">
							<div class="event-title col-md-6">
								<p>Developing A Spiritual Mentality</p>
							</div>
							<div class="event-date col-md-3">
								date
							</div>
							<div class="event-local col-md-3">
								local
							</div>
						</div>
					</div>	
				</div>		
			</div>	
	</section>


	<!-- SECTION INFO -->
	<section id="home" class="home3">
		<div class="row">
			<div class="col-md-4 end">
				<div class="box-adp end-adp">
					<h3>Endereço</h3>
					<p>Av. Sapucaia do Sul, 110</p>
					<p>Jardim Paqueta, SP - 02952-160</p>
				</div>
			</div>
			<div class="col-md-4 end cultos">
				<div class="box-adp cultos">
					<h3>Cultos</h3>
					<p>Segunda - 19:00/21h</p>
					<p>Quarta - 19:00/21h</p>
					<p>Sexta - 19:00/21h</p>
					<p>Domingo - 19:00/21h</p>
					
				</div>
			</div>
			<div class="col-md-4 end telefone">
				<div class="box-adp telefone">
					<h3>Telefone</h3>
					<p>(11) 3973-9272</p>					
				</div>
			</div>
		</div>
	</section>

	
</div>


